@model InfoEducatie.Contest.Judging.Judging.JudgingPageModel
@* <h1 class="mt-4">Jurizare?</h1> *@
<div class="mt-2"></div>
<div>Judge name: @Model.Judge.FullName</div>
<div>Category: @Model.Category.Name</div>
<div>Projects: @Model.Projects.Count</div>
<div class="text-info">judging criteria: @Model.JudgingCriteria.Count</div>