.judging-table th {
    /*font-size: 15px;*/
}

.judging-table td.input-cell {
    /*.judging-table th {*/
    padding: 0 !important;
    vertical-align: center;
}

.table.judging-table td, .table.judging-table th {
    padding: .5rem;
}

.judging-table .project-title {
    max-height: 3em;
    overflow: hidden;
}

.judging-table .project-title-cell {
    vertical-align: top;
}

.judging-table .project-title-cell > div {
    position: relative;
}

.judging-table .project-title-cell > div .open-discourse-link {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    opacity: .3;
    font-size: 1.2em;
    transition: opacity .5s;
}

.judging-table .project-title-cell .open-discourse-link:hover {
    opacity: 1;
}

.judging-table-wrapper div.dt-scroll-body {
    background-color: transparent !important;
}

.input-cell {
    position: relative;
}

.input-cell > input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: background-color .5s ease-in-out;
}

.input-cell .saving-icon,
.input-cell .error-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
}

.input-cell .error-icon {
    color: red;
    cursor: pointer;
}

.input-cell.saving-error input {
    border: 2px solid red;
    cursor: pointer;
}

.input-cell input {
    padding-left: 5px;
}

.input-cell.good input {
    background-color: #ecffef;
}
.input-cell.good input[readonly] {
    background-color: rgba(236, 255, 239, 0.5);
}

.input-cell.bad input {
    background-color: #fcf2f2;
}

.input-cell.bad input[readonly] {
    background-color: rgba(252, 242, 242, 0.5);
}

.input-cell input[type=number]:not(:focus):not(:hover)::-webkit-outer-spin-button,
.input-cell input[type=number]:not(:focus):not(:hover)::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-cell input[type=number]:not(:focus):not(:hover) {
    -moz-appearance: textfield;
}

.crit-td {
    cursor: help;
}

.judging-table-wrapper {
    overflow: hidden;
    font-size: .9em;
}

.judging-top-stat {
    padding: 0 5px;
}

.judging-top-stat:not(:last-child) {
    border-right: 2px solid gray;
}

.section-title-row td {
    background: #B7B7B7;
}

.judging-cell-popover {
    max-width: 500px !important;
}