.judging-table th {
    font-size: 15px;
}

.judging-table td.input-cell {
    /*.judging-table th {*/
    padding: 0 !important;
    vertical-align: center;
}

.input-cell {
    position: relative;
}

.input-cell > input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.input-cell .saving-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
}

.input-cell input[type=number]:not(:focus):not(:hover)::-webkit-outer-spin-button,
.input-cell input[type=number]:not(:focus):not(:hover)::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-cell input[type=number]:not(:focus):not(:hover) {
    -moz-appearance:textfield;
}

.crit-td {
    cursor: help;
}

.judging-table-wrapper {
    overflow: hidden;
}

.judging-top-stat {
    padding: 0 5px;
}
.judging-top-stat:not(:last-child) {
    border-right: 2px solid gray;
}