@using InfoEducatie.Main.InfoEducatieAdmin
@using MCMS.Display.Link
<h1 class="mt-4">InfoEducație Admin</h1>
<ul>
    <li>
        <a asp-action="Import">Import</a>
    </li>
    <li>
        <a asp-action="DeleteParticipants">Clear participants/projets and related entities</a>
    </li>
    <li>
        <a asp-action="CheckCriteriaIntegrity">Check Criteria integrity</a>
    </li>
    <li>
        @{
            var link = new MRichLink("Send activation emails to participants", typeof(InfoEducatieAdminController), nameof(InfoEducatieAdminController.SendActivationMails))
                .WithModal().WithValues(null);
        }
        <partial name="Partials/_MRichLink" model="link"/>
    </li>
</ul>