@using InfoEducatie.Main.InfoEducatieAdmin
@using MCMS.Display.Link
<h1 class="mt-4">InfoEducație Admin</h1>
<ul>
    <li>
        <a asp-action="Import">Import</a>
    </li>
    <li>
        <a asp-action="DeleteParticipants">Clear participants/projects and related entities</a>
    </li>
    <li>
        <a asp-action="CheckCriteriaIntegrity">Check Criteria integrity</a>
    </li>
    <li>
        @{
            var link = new MRichLink("Send welcome emails to participants", typeof(InfoEducatieAdminController), nameof(InfoEducatieAdminController.SendActivationMails))
                .WithModal().WithValues(null);
        }
        <partial name="Partials/_MRichLink" model="link"/>
    </li>
    <li>
        @{
            link = new MRichLink("Clone Criteria From Project To Open For Category", typeof(InfoEducatieAdminController), nameof(InfoEducatieAdminController.CloneCriteriaFromProjectToOpenForCategory))
                .WithModal().WithValues(null);
        }
        <partial name="Partials/_MRichLink" model="link"/>
    </li>
    <li>
        <a asp-action="SendCustomEmailToParticipants">Send custom email to participants</a>
    </li>
    <li>
        @{
            link = new MRichLink("Build Xlsx", typeof(InfoEducatieAdminController), nameof(InfoEducatieAdminController.BuildXlsxs))
                .WithModal().WithValues(null);
        }
        <partial name="Partials/_MRichLink" model="link"/>
    </li>
</ul>