@{
    ViewBag.Title = "Delete all participants & projects";
}

<h2 class="mt-4">@ViewBag.Title</h2>
<div class="alert alert-danger"><b>Are you sure?</b> <br/>All participant profiles, projects, users with 'Participant' role and all directly releated entities will be deleted.</div>
<form method="post">
    <button class="btn btn-danger">Yes</button>
</form>