@using InfoEducatie.Main.InfoEducatieAdmin
@using MCMS.Base.Extensions
@using MCMS.Base.Repositories
@inject ITranslationsRepository TransRepo

@inject ImportFormParamsService ImportFormParamsService;
@{
    ViewBag.Title = "Import";

    var formParams = ImportFormParamsService.ForCreate();
    formParams.Options = new {hideSubmitButton = true};
    var returnUrl = Context.Request.Query.ContainsKey("returnUrl") ? (string) Context.Request.Query["returnUrl"] : null;
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="my-4">@ViewBag.Title</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @* <div class="col-12"> *@
            @await Html.BlindPartialAsync("Formly/FormlyForm", formParams)
        </div>
    </div>
    <div class="row">
        <div class="col-12 justify-content-between d-flex">
            <button type="button" class="btn btn-secondary" onclick="callback@(formParams.FormInstanceId)()">@await TransRepo.GetValueOrSlug("cancel")</button>
            <button type="button" class="btn btn-primary" id="@formParams.FormInstanceId-submit-button">Import</button>
        </div>
    </div>
</div>

@using (Html.BeginMPageScripts())
{
    <script>
       function callback@(formParams.FormInstanceId)(sender, params) {
           var responseStr = JSON.stringify(params);
           alert('Done!\n'+responseStr);
           // var returnUrl = '@returnUrl';
           // if(returnUrl) {
           //     window.location.href = returnUrl;
           // } else {
           //     window.history.back();
           // }
       }
    </script>
}