@using MCMS.Base.Extensions
@using MCMS.Base.Helpers
@using MCMS.Base.Repositories
@model int
@inject ITranslationsRepository TransRepo

@{
    ViewBag.Title = $"Send activation email for {Model} accounts?";
    var id = Utils.GenerateRandomHexString();
}
<div class="modal-body" id="@id">
    <form asp-action="SendActivationMails" asp-controller="InfoEducatieAdminApi"> 
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">@await TransRepo.GetValueOrSlug("cancel")</button>
    @if (Model != 0)
    {
        <button type="button" class="btn btn-primary" id="save-@id">@await TransRepo.GetValueOrSlug("yes")</button>
    }
</div>
@using (Html.BeginMPageScripts())
{
    <script>
     $("#save-@id").click(function() {
          $("#@id form").submit();
     });
     ajaxForm($("#@id form"), true);
    </script>
}