@using InfoEducatie.Main.InfoEducatieAdmin
@using MCMS.Base.Extensions
@using MCMS.Base.Helpers
@using MCMS.Base.Repositories
@using MCMS.SwaggerFormly
@using MCMS.SwaggerFormly.FormParamsHelpers
@inject ITranslationsRepository TransRepo

@{
    ViewBag.Title = "Send email to categry";

    var formParamsService = new FormParamsService(Url, TypeHelpers.GetControllerName(typeof(InfoEducatieAdminApiController)), nameof(CustomEmailToParticipantsModel)) {SubmitActionName = nameof(InfoEducatieAdminApiController.SendCustomEmailToParticipants)};

    var formParams = formParamsService.ForCreate();
    formParams.AddOption("hideSubmitButton", true);
    var returnUrl = Context.Request.Query.ContainsKey("returnUrl") ? (string) Context.Request.Query["returnUrl"] : null;
}
<partial name="_Menu"/>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="my-4">@ViewBag.Title</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-10 col-md-8">
            @* <div class="col-12"> *@
            @await Html.BlindPartialAsync("Formly/FormlyForm", formParams)
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <pre class="results-container"></pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-10 col-md-8 justify-content-between d-flex">
            @* <button type="button" class="btn btn-secondary" onclick="callback@(formParams.FormInstanceId)()">@await TransRepo.GetValueOrSlug("cancel")</button> *@
            <button type="button" class="btn btn-primary" id="@formParams.FormInstanceId-submit-button">Send</button>
        </div>
    </div>
</div>

@using (Html.BeginMPageScripts())
{
    <script>
       function callback@(formParams.FormInstanceId)(sender, params) {
           console.log(params);
           $(".results-container").html(JSON.stringify(params, null, "  "))
           // var returnUrl = '@returnUrl';
           // if(returnUrl) {
           //     window.location.href = returnUrl;
           // } else {
           //     window.history.back();
           // }
       }
    </script>
}