
@{
    ViewBag.Title = "Panou principal";
}

<h2 class="mt-4">Panou principal</h2>

<div>
    Vezi meniul din stânga.
    @* <a asp-controller="ExampleAddresses" asp-action="Index"> Vezi meniul... </a> *@
</div>